<aside id="sidebar" class="bg-blue-900 text-white p-5">
  <h2 class="text-xl font-bold mb-6">LMS Dashboard</h2>
  <nav>
    <ul>
      <li class="mb-4">
        <a
          href="{%url 'departments'%}"
          class="block p-2 hover:bg-blue-700 rounded"
          >Home</a
        >
      </li>
      <li class="mb-4">
        <a href="{%url 'courses'%}" class="block p-2 hover:bg-blue-700 rounded"
          >All Courses</a
        >
      </li>
      <li class="mb-4">
        <a href="{%url 'students'%}" class="block p-2 hover:bg-blue-700 rounded"
          >Students</a
        >
      </li>
      {% if request.user.role != 'user' and request.user.role != 'mod' %}
      <li class="mb-4">
        <a
          href="{% url 'appoint'  %}"
          class="block p-2 hover:bg-blue-700 rounded"
        >
          Appoint Roles
        </a>
      </li>
      {% endif %}

      <li class="mb-4">
        <a href="#" class="block p-2 hover:bg-blue-700 rounded">Settings</a>
      </li>
    </ul>
  </nav>
</aside>
