{% extends 'dashboard.html' %} 
{% block content %} 
{% load static %}

<link rel="stylesheet" href="{% static 'css/commChat.css' %}" />

<!-- Chatbox Container -->
<div class="chatbox-container bg-white shadow-2xl w-full h-[calc(100vh-100px)] flex flex-col">

  <!-- Chat Header (Fixed at top of chat box) -->
  <div class="sticky bg-white border-t z-20" style="top:7.55%">
  {% include 'commChatComponents/chatHeader.html' %}
</div>
  <!-- Chat Messages (Scrollable area) -->
  <div id="chat-messages" class="flex-1 overflow-y-auto p-4 space-y-2">
    {% include 'commChatComponents/senderText.html' %}
    {% include 'commChatComponents/recieverText.html' %}
    {% include 'commChatComponents/senderText.html' %}
    {% include 'commChatComponents/recieverText.html' %}
    {% include 'commChatComponents/senderText.html' %}
    {% include 'commChatComponents/recieverText.html' %}
    {% include 'commChatComponents/senderText.html' %}
    {% include 'commChatComponents/recieverText.html' %}
    {% include 'commChatComponents/senderText.html' %}
    {% include 'commChatComponents/recieverText.html' %}
    {% include 'commChatComponents/senderText.html' %}
    {% include 'commChatComponents/recieverText.html' %}
    {% include 'commChatComponents/senderText.html' %}
    {% include 'commChatComponents/recieverText.html' %}
    {% include 'commChatComponents/senderText.html' %}
    {% include 'commChatComponents/recieverText.html' %}
  </div>

  <!-- Input Form (Sticky at bottom) -->
  <div class="sticky  bg-white border-t z-20" style="bottom: 5.7%">
    {% include 'commChatComponents/inboxForm.html' %}
  </div>

</div>

<script src="{% static "js/commChat.js" %}"></script>
{% endblock %}
