{% extends 'dashboard.html' %} {% block content %}

<div class="p-6 flex-grow">
  <h2 class="text-2xl font-bold text-blue-900 mb-6">
    {{ department.name }} - Courses
  </h2>

  <!-- Grid of Courses -->
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
  >
    {% if courses %} {% for course in courses %}
    <a
      href="{% url 'course_facs' dept_id=department.id course_id=course.id %}"
      class="card bg-white p-6 rounded-lg shadow-lg cursor-pointer hover:shadow-xl transition duration-300 transform hover:scale-105"
    >
      <img
        src="{{course.image.url}}"
        alt="Course Image"
        class="w-full h-40 object-cover rounded-t-lg mb-4"
      />
      <div class="flex items-center mb-4">
        <span
          class="text-sm font-semibold text-blue-900 bg-blue-100 px-3 py-1 rounded-full"
        >
          {{course.course_code}}
        </span>
      </div>
      <h3 class="text-2xl font-semibold text-blue-900 mb-2">
        {{course.course_name}}
      </h3>
      <p class="text-gray-600 text-base mb-4">{{course.description}}</p>
    </a>
    {% endfor %} {% else %}
    <h2 class="text-2xl font-bold text-blue-900 mb-6">No Courses to show</h2>

    {% endif %}
  </div>

  <!-- Back Button (placed outside the grid) -->
  <div class="mt-10">
    <a
      href="{% url 'departments' %}"
      class="inline-block bg-blue-900 text-white px-4 py-2 rounded-lg hover:bg-blue-700"
    >
      ← Back to Departments
    </a>
  </div>
</div>

{% endblock %}
