{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>LMS login</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}"
    />
  </head>
  <body id="loginBody">
    <div class="container">
      <div class="loginHeader">
        <h1>Learnloop</h1>
      </div>
      <div class="loginBody">
        <form action="{% url 'login'  %}" method="POST">
          {% csrf_token %}
		  {% if messages %}
		  <div class="bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-4" role="alert">
			 <ul class="messages">
			  {% for message in messages %}
					  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			  {% endfor %}
			  </ul>
			</div>
		   {% endif %}
          <div class="loginInputContainer">
            <label for="">Email</label>
            <input placeholder="username" name="email" type="text" />
          </div>
          <div class="loginInputContainer">
            <label for="">Password</label>
            <input placeholder="password" name="password" type="Password" />
          </div>
          <div class="loginButtonContainer">
            <button>login</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
