{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OpenEdu - LMS Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
    <script src="https://cdn.tailwindcss.com"></script>

    <script src="{% static 'js/sidebar.js' %}"></script>
  </head>
  <body class="bg-gray-100 flex">
    <!-- Sidebar -->
    {% include 'inc/navbar.html' %}

    <!-- Main Content -->
    <div id="content" class="flex-1 flex flex-col min-h-screen ml-0">
      <!-- Header -->
      {% include 'inc/header.html' %} {% block content %}

      <!-- Content Section -->
      {% endblock %}

      <!-- Footer -->
      {% include 'inc/footer.html' %}
    </div>

    <!-- Always Visible Side Popup (Smaller Card) -->
    {% include 'inc/popup.html' %} {% if showAddButton %}
    <!-- Modal Button -->
    <button
      id="openModalBtn"
      class="fixed bottom-10 right-10 bg-white-900 text-blue p-6 rounded-full shadow-2xl hover:bg-blue-700 text-2xl transition-all duration-300"
    >
      + Add
    </button>
    {% endif %}

    <!-- Modal -->
      
    {% if showDeptModal %} {% include 'content_modals/deptModal.html' %}
    {% elif showCourseModal %} {% include 'content_modals/courseModal.html' %} 
    {% elif showFacultyModal %} {% include 'content_modals/facultyModal.html' %} 
    {% elif showSlideModal %} {% include 'content_modals/slideModal.html' %} 
    {% elif showVideoModal %} {% include 'content_modals/videoModal.html' %} 
    {% elif showNoteModal %} {% include 'content_modals/noteModal.html' %}
    {%endif%}


    <!-- JavaScript to Toggle Modal -->
    <script src="{% static 'js/modal.js' %}"></script>

    <script src="{% static 'js/popup.js' %}"></script>
  </body>
</html>
