<!-- Update Modal -->
<div
  id="update_modal"
  class="hidden fixed inset-0 bg-gray-500 bg-opacity-75 flex justify-center items-center"
>
  <div class="bg-white p-6 rounded-lg shadow-lg w-1/3">
    <h2 class="text-xl font-semibold mb-4">Update Faculty</h2>

    <!-- Hidden ID fields for faculty -->
    <input type="hidden" id="faculty_id_field" name="faculty_id" value="" />
    <input
      type="hidden"
      id="department_id_field"
      name="department_id"
      value=""
    />

    <div class="mb-4">
      <label for="facultyName" class="block text-sm font-semibold"
        >Faculty Name</label
      >
      <input
        type="text"
        id="facultyName"
        name="facultyName"
        class="w-full px-4 py-2 border border-gray-300 rounded-md"
        placeholder="Enter faculty name"
      />
    </div>

    <div class="mb-4">
      <label for="position" class="block text-sm font-semibold">Position</label>
      <input
        type="text"
        id="position"
        name="position"
        class="w-full px-4 py-2 border border-gray-300 rounded-md"
        placeholder="Enter position"
      />
    </div>

    <div class="flex justify-end">
      <button
        id="closeUpdateModalBtn"
        class="bg-gray-500 text-white px-4 py-2 rounded-lg mr-2"
      >
        Close
      </button>
      <button
        class="bg-blue-500 text-white px-4 py-2 rounded-lg"
        onclick="saveUpdate()"
      >
        Save
      </button>
    </div>
  </div>
</div>
