<div
  id="modal"
  class="fixed inset-0 bg-gray-500 bg-opacity-75 flex justify-center items-center hidden"
>
  <div class="bg-white p-6 rounded-lg shadow-lg w-1/3">
    <h2 class="text-xl font-semibold mb-4">Add New Slide</h2>
    <form
      enctype="multipart/form-data"
      action="{% url 'add_slide' department.id  course.id faculty.id%}"
      method="POST"
    >
      {% csrf_token %}
      <div class="mb-4">
        <label for="slideName" class="block text-sm font-medium text-gray-700"
          >Slide Name</label
        >
        <input
          type="text"
          id="slideName"
          name="slideName"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md"
          placeholder="Enter slide name"
        />
      </div>

      <div class="mb-4">
        <label
          for="slideContent"
          class="block text-sm font-medium text-gray-700"
          >Upload Slide</label
        >
        <input
          type="file"
          id="slideContent"
          name="slideContent"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md"
        />
      </div>
      <div class="flex justify-end">
        <button
          type="button"
          id="closeModalBtn"
          class="bg-gray-500 text-white px-4 py-2 rounded-lg mr-2 hover:bg-gray-400"
        >
          Close
        </button>
        <button
          type="submit"
          class="bg-blue-900 text-white px-4 py-2 rounded-lg hover:bg-blue-700"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</div>
