{% extends 'dashboard.html' %} {%block content %}

<div class="p-6 flex-grow">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
    {% for department in departments %}
    <a
      href="{% url 'deptcourses' id=department.id %}"
      class="card bg-white p-6 rounded-lg shadow cursor-pointer"
    >
      <img
        src="{{department.image.url}}"
        alt="Computer Science"
        class="card-img mb-4"
      />
      <h3 class="text-lg font-semibold">{{department.name}}</h3>
      <p class="text-gray-600">{{department.description}}</p>
    </a>
    {% endfor %}
  </div>
</div>
{%endblock%}
