/* Sidebar transition */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #1e40af; /* Blue color */
  color: white;
  z-index: 50;
  transform: translateX(-100%); /* Initially hidden */
  transition: transform 0.4s ease-in-out, opacity 0.5s ease-in-out; /* Smooth transition */
}

/* When the sidebar is open */
#sidebar.open {
  transform: translateX(0); /* Move to the left */
  opacity: 1; /* Fully visible */
}

/* Main content transition */
#content {
  transition: margin-left 0.4s ease-in-out; /* Smooth transition for content margin */
}

/* When the sidebar is open, shift content to the right */
#content.shifted {
  margin-left: 250px; /* Move content right to make room for the sidebar */
}

.card-img {
  height: 150px;
  object-fit: cover;
  border-radius: 0.5rem;
  width: 100%;
}

.card {
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

footer {
  background-color: #1e40af;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* For smaller screens */
@media screen and (max-width: 768px) {
  #sidebar {
    width: 100vw; /* Sidebar takes full screen width on small screens */
    height: 100vh; /* Sidebar takes full height */
    transform: translateX(-100vw); /* Sidebar is hidden by default */
  }

  #sidebar.open {
    transform: translateX(
      0
    ); /* Sidebar shown with full width on small screens */
  }

  #content.shifted {
    margin-left: 0; /* No margin shift for content on small screens */
  }

  /* Hide the sidebar button when the sidebar is open on smaller screens */
  #sideBarButton {
    display: block; /* Show the sidebar button */
  }
  #content {
    width: 100dvh;
  }
}
